<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
</head>
<body>
	<div class="container">
		<div class="pure-g">
			<!-- NAVBAR -->
			<div class="pure-u-1-1">
				<nav class="pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item pure-menu-selected"><a href="/forums" class="pure-menu-link">Home</a></li>
						<li class="pure-menu-item pure-menu-selected"><a href="/logout" class="pure-menu-link">Log out</a></li>

						<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
							<a href="#" id="menulink1" class="pure-menu-link">Sub Forums</a>
							<ul class="pure-menu-children">

							<% subs.forEach(function(sub){ %>
								<li class="pure-menu-item"><a href='/forums/sub/<%=sub.subforums_id%>' class="pure-menu-link"> <%= sub.topic %>
									</a>
								</li>	
								<% }) %>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<!-- NAVBAR -->

			<!-- BANNER -->
			<div class="pure-u-5-24">
			</div>
			<div class="pure-u-14-24 banner">
				<img class="pure-img" src="/banner.png">
			</div>
			<div class="pure-u-5-24">
			</div>
			<!-- BANNER -->
			<div class="bar">
			</div>
			<!-- PICTURES -->
			<% picture.forEach(function(pic){ %>
				<div class="pure-u-7-24 gallery">
					<img class="pure-img" src='<%=pic.url%>'>	
				</div>
			<%	}); %>
			<!-- PICTURES -->
		</div>
	</div>
</body>
</html>