<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body class="container">
	<div class="ui small menu">
		<img src="/photos/logo.png" class="item" width="150" height="50">
			
		<div class="right menu">
			<select class="ui search dropdown item select" onChange="window.location.href=this.value">
				<option value="">Subforums</option>
				<% subs.forEach(function(sub){ %>
				<option value="/forums/sub/<%=sub.subforums_id%>"> <%= sub.topic %> </option>
				<% }) %>
			</select>
			<img src="<%=image%>" width="60" height="50">
			<a class="ui inverted red button" id="logout" href="/logout">LOG OUT</a>
		</div>
	</div>
	<div class="ui inverted segment">
	<div class="ui centered grid" id="thread-container">
		<div class="twelve wide column">
			<div class="ui grid">
				<% picture.forEach(function(pic){ %>
				<div class="eight wide column">
					<img class="ui large bordered rounded image" src='<%=pic.url%>'>	
				</div>
				<%	}); %>
			</div>		
		</div>
	</div>	
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="/script.js"></script>
</body>
</html>