body{
	background-image: url('bg2.jpg');
	background-size: cover;
}

.pure-g{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 110px;
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 2%;
	border: 3px solid white;
}

.welcome-message{
	font-family: 'Raleway', sans-serif;
	line-height: 50px;
	letter-spacing: 5px;
	text-shadow: 1px 1px white;
	text-indent: 60px;
}

.banner{
margin-bottom: 20px;
margin-top: 20px;
}

.login{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.frame{
	height: 600px;
}

.subforum-form{
	text-align: right;
	margin: 20px 20px 20px 0px;
}

.label{
	font-size: 40px;
	font-family: helvetica;
	color: white;
}

.for{
	font-size: 20px;
	color: white;
}

.heading{
	color: white;
	margin-bottom: 60px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 4px 4px black;
	font-size: 50px;
}

nav{
	text-align: right;
}

.pure-menu-link{
	color: black;
}

.title{
	text-align: center;
	font-size: 50px;
	font-family: verdana;
	color: white;
	text-shadow: 4px 4px black;
}

.threads{
	background-color: #338BC6;
	margin-bottom: 60px;
	border-radius: 5%;
	padding: 20px 20px 20px 40px;
	border: 2px solid white;
	box-shadow: 5px 5px 30px white;
}

.cont{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

.clickT{
	font-size: 25px;
	font-family: verdana;
	text-decoration: none;
}

.clickT:link{
	color: white;
}

.clickT:visited{
	color: white;
}

.clickT:hover{
	color: #262626;
	text-shadow: 1px 1px white;
}

.clickT:active{
	color: white;
}

.status{
	font-size: 12px;
	font-family: verdana;
	font-style: oblique;
}

.desc{
	margin: 0px 20px 20px 20px;
	text-indent: 30px;
	font-size: 20px;
	color: #D8D8D8;
}

.desc-font{
	font-family: 'Merriweather', serif;
}

#upvote{
	text-align: right;
}

.stuff{
	margin-top: 60px;
}
.image-form{
	margin-left: 40px;
}

.com{
	background-color: #B3B3C2;
	margin-bottom: 60px;
	border-radius: 5%;
	padding: 20px 20px 20px 40px;
	border: 2px solid white;
	box-shadow: 5px 5px 30px white;
	font-style: italic;
	line-height: 33px;
	text-indent: 50px;
}

.comment{
	font-family: courier;
	font-size: 20px;
}

.bar{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	height: 7px;
	background-color: #0F0F0F;
	box-shadow: 5px 5px 25px white;
}

.gallery{
	margin: 40px 15px 0px 15px;
}

.thumbs{
	color: white;
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}






