body{
	background-image: url('bg2.jpg');
	background-size: cover;
}

.pure-g{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	background-color: #F3F3F5;
}

.pure-g::after{
	opacity:1;
}

.banner{
vertical-align: middle;
margin-bottom: 4em;

}

.login{
	text-align: right;
	margin-bottom: 2em;
	margin-top:1em;
}

.vid{
	text-align: center;

}

nav{
	text-align: right;
}

.title{
	text-align: center;
}

.thread{
	margin-left: auto;
	margin-right: auto;
	
	border: 2px solid black;
}

.cont{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.clickT{
	text-decoration: none;
	font-size: 25px;
	font-family: verdana;
}

.status{
	font-size: 12px;
	font-family: verdana;
	font-style: oblique;
}

.desc{

}

#upvote{
	text-align: right;
}

.com{
	
	background-color: #B3B3C2;
	padding: 20px;
}

.comment{
	font-family: courier;
	font-size: 20px;

}

.welcome{
	font-size: 50px;
	font-family: helvetica;
	color: #323232;
}

.bar{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	height: 10px;
	background-color: #464646;
}

.pure-button{
	
}

.gallery{
	text-align: right;
}

.gal{
	margin-left: 1.2em;
	margin-right: 1.2em;
}








